@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --color-brand-red: #E31E24;
  --color-brand-blue: #21409A;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-black bg-white;
  }
}

@layer utilities {
  .tracking-tighter {
    letter-spacing: -0.05em;
  }
  
  .tracking-widest {
    letter-spacing: 0.2em;
  }
}
